/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #d5d9ec;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header Styles */
header {
  position:static;
  background: rgba(255, 255, 255, 0.053); /* Semi-transparent background */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; /* High z-index to ensure it's above other elements */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow */
}

.nav-mobile {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-links {
  display: none;
}

.burger-menu {
  display: block;
}

#nav-toggle {
  display: none;
}

.burger-menu label {
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

.burger-menu span {
  background: #333;
  height: 3px;
  margin: 3px 0;
  transition: 0.4s;
}

#nav-toggle:checked ~ .nav-links {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px; /* Default logo size */
}

.contact-info {
  display: flex;
  align-items: center;
  color: #47174C;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
}

.contact-info img {
  margin-right: 5px;
}

/* Mobile styles (340px - 850px) */
@media (min-width: 340px) and (max-width: 850px) {
  .logo {
      width: 50px; /* Smaller logo size for mobile */
  }

  .contact-info {
      display: none; /* Hide contact info on mobile */
  }

  .nav-links {
      display: none; /* Hide nav links on mobile */
  }

  .burger-menu {
      display: block; /* Show burger menu on mobile */
  }

  nav {
      padding: 10px;
  }

  .nav-links {
      position: fixed; /* Change to fixed */
      top: 50px; /* Adjust based on your header height */
      left: 0;
      right: 0;
      background-color: rgba(248, 248, 248, 0.95);
      z-index: 999; /* Just below the header */
  }

  .nav-links a {
      padding: 10px;
      text-align: center;
  }

  #nav-toggle:checked ~ .burger-menu label span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  #nav-toggle:checked ~ .burger-menu label span:nth-child(2) {
      opacity: 0;
  }

  #nav-toggle:checked ~ .burger-menu label span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Tablet styles (851px - 1439px) */
@media (min-width: 851px) and (max-width: 1439px) {
  .logo {
      width: 75px; /* Adjust logo size for tablets */
  }

  .nav-links {
      display: flex;
      justify-content: space-around;
  }

  .burger-menu {
      display: none;
  }

  .nav-links {
    display: flex;
    justify-content:space-between;
}

.burger-menu {
    display: none;
}

nav {
    padding: 5px;
}

.nav-links a {
    color: #47174C;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 600;
}
  nav {
      padding: 8px;
  }

  .nav-links a {
      padding: 5px;
  }

  .contact-info {
    display: flex;
    align-items: center;
    color: #47174C;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 600;
    font-family: Myriad Pro;
    font-size: 18px;
    font-weight: 700; 
    line-height: 21.6px;
    text-align: left;

}
}

/* Desktop styles (above 1024px) */
@media (min-width: 1440px) {
  .logo {
      width: 100px; /* Default logo size for desktops */
  }

  .nav-links {
      display: flex;
      justify-content: space-around;
  }

  .burger-menu {
      display: none;
  }

  nav {
      padding: 20px;
  }

  .nav-links a {
      color: #47174C;
      text-decoration: none;
      margin: 0 15px;
      font-family: "Myriad Pro", sans-serif;
      font-weight: 600;
  }

  .contact-info {
      display: flex;
      align-items: center;
      color: #47174C;
      font-family: "Myriad Pro", sans-serif;
      font-weight: 600;
  }
}


/* Slider Styles */
.slider {
  width: 100%;
  height: 120vh;
  overflow: hidden;
  position: relative;
  }
  .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  }
  .slide.active {
  opacity: 1;
  }
  .slide .large-screen-image,
  .slide .medium-screen-image {
  display: none;
  }
  .slide .small-screen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  }
  
/* Mobile styles (340px - 850px) */
@media (min-width: 340px) and (max-width: 850px) {
  .slide .small-screen-image {
  display: block;
  }
  }

 /* Tablet styles (851px - 1439px) */
  @media (min-width: 851px) and (max-width: 1439px) {
  .slide .large-screen-image {
  display: none;
  }
  .slide .medium-screen-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .slide .small-screen-image {
  display: none;
  }
  }


/* Despre Noi Section */

.flex-container-despre {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.image-container {
  flex: 1;
}

.text-container-despre {
  position: relative;
  top: 90px;
  flex: 1;
  color: #47174C;
}

.text-container-despre p {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: left;
}

.features-list {
  padding-top: 10px;
  list-style-type: disc; /* This ensures bullet points are shown */
}

.features-list li {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: left;
  padding-bottom: 10px;
}

.Produsul {
  max-width: 100%;
  height: auto;
}

.toggle-button {
  display: none;
  background-color: #47174C;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

/* Mobile styles (340px - 850px) */
@media (min-width: 340px) and (max-width: 850px) {
  .flex-container-despre {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto; 
    padding: 20px 0; 
  }

  #Despre {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: center; 
    color: #47174C; 
    margin-top: 5px;
}

.flex-container-despre img {
    max-width: 80%; 
    height: auto;
    margin-top: 10px; 
    padding-left: 10px; 
    padding-top: 10px;
}

.image-container{
    flex: unset;
    width: 100%;
}

.text-container-despre{
  width: 310px;
  height: 190px;
  gap: 0px;
  opacity: 0px;
}

.text-container-despre p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px; 
    letter-spacing: 0.04em;
    text-align: left; 
    padding: auto;
    color: #47174C; 
    margin-bottom: 5px; 
}

  .features-list li {
    font-family: Inter; 
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #47174C; 
  }

  .toggle-button {
    position: relative;
    bottom: 5px;
    display: block;
  }

  .features-list {
    display: none;
  }
}

/* Tablet styles (851px - 1439px) */
@media (min-width: 851px) and (max-width: 1439px) { 
  #Despre {
    font-size: 70px;
    margin-top: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center; 
    color: #47174C; 
    font-family: Myriad Pro;
  }

  .flex-container-despre img {
    max-width: 80%; 
    height: 300px;
    padding-top: 20px;
    margin-top: 60px;
    margin-left: auto; /* Add this line */
    margin-right: auto; /* Add this line */
    padding-left: 10px; 
    padding-top: 10px;
}

.text-container-despre{
  width: 310px;
  height: 190px;
  gap: 0px;
  opacity: 0px;
}

.text-container-despre p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: 0.06em;
    text-align: left;
    padding: auto;
    color: #47174C; 
    margin-bottom: 5px; 
    font-family: Inter;
  }


.features-list li {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: 0.06em;
  text-align: left;
  font-family: Inter; 
  text-align: left;
  color: #47174C; 
}
}

/* Desktop styles (min-width: 1440px) */
@media (min-width: 1440px) {

  #Despre {
    font-size: 70px;
    margin-top: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center; 
    color: #47174C; 
    font-family: Myriad Pro;
    margin-bottom: 15px;
  }

  .flex-container-despre {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .image-container {
    flex: 1;
  }
  
  .text-container-despre {
    position: relative;
    top: 90px;
    flex: 1;
    color: #47174C;
  }
  
  .text-container-despre p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-align: left;
  }
  
  .features-list {
    padding-top: 20px;
    list-style-type: disc; /* This ensures bullet points are shown */
    padding-left: 20px; /* Indentation for the list */
  }
  
  .features-list li {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-align: left;
    padding-bottom: 10px;
  }
  
  .Produsul {
    max-width: 100%;
    height: auto;
  }
  
  .toggle-button {
    display: none;
    background-color: #47174C;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
  }
  

}